.Header {
  height: 100px;
  background-color: #ffffff;
  padding: 0px 100px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  font-family: "Roboto", sans-serif;
}

.nav-links,
.social-links {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.nav-links {
  width: 40%;
}

.nav-links a {
  font-size: 0.875rem;
  color: #081929;
}

.social-links {
  width: 10%;
}

/* Tablet screen size */
@media screen and (max-width: 1024px) {
  .Header {
    padding: 19.5px 25px;
    width: 100%;
  }
  .nav-links {
    width: 50%;
  }

  .social-links {
    width: 12.5%;
  }
}

@media screen and (max-width: 600px) {
  .Header {
    padding: 19.5px 25px;
  }

  .nav-links,
  .social-links.desktop {
    display: none;
  }
}
